<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h3>owner: {{ order.sender }}</h3>
<h3>driver: {{ order.driver }}, contact info: {{ order.driver.user.phone_number }}</h3>
<h3>vehicle:{{ order.vehicle }}</h3>
<h3>order state: {{ order.status }}</h3>
<h3>current_location: {{ location }}</h3>

<form action="/orders/{{ order.pk }}/confirm_delivery" method="post">
    {% csrf_token %}
    <input type="submit" value="confirm delivery">
</form>

<form action="/orders/{{ order.pk }}/comment" method="post">
    {% csrf_token %}
    <input type="submit" value="leave comment">
</form>

</body>
</html>