{% extends 'base.html' %}
{% load static %}
{% block container %}
    <link href="{% static "css/login.css" %}" type="text/css" rel="stylesheet">
    <div class="container" style="margin: auto">
        <form method="post" id="login" class="panels">
            {% csrf_token %}
            <div class="form-group">
                <label for="exampleInputEmail1">Username</label>
                {{ form.username }}
                <p style=" color: red;">{{ form.username.errors.as_text }}</p>
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                {{ form.password }}
                <p style=" color: red;">{{ form.password.errors.as_text }}</p>
                <p style=" color: red;">{{ form.non_field_errors.as_text }}</p>
            </div>
            <button type="submit" class="btn btn-primary">Login</button>
            <a href="{% url 'owner-signup' %}">sign up</a>
        </form>
    </div>
{% endblock %}
