<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>hello {{ owner }}</h1>
<h2>your orders:</h2>
<ol>
{% for order in orders %}
    <li>{{ order }} <a href="/orders/{{ order.pk }}">details</a></li>
{% endfor %}
</ol>

</body>
</html>